html{
    font-family: 'Roboto';
    font-weight: 300;
}

h1{
    font-size: 55px;
    font-weight: 500;
}

h2{
    font-size: 30px;
}

p{
    margin-right: 300px;
}

body{
    margin-left: 140px;
    margin-right: 140px;
}


.flexbox-container {
    display: flex;
}

.flexbox-container-vertical {
    display: flex;
    flex-direction: column;
}

.platform {
    width: 100%;
    height: 250px;
    margin: 25px;
    background-color: #f8f9fa;
}

.platform-name {
    margin-left: 25px;
    font-weight: 300;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
}

.platform-description{
    text-align: justify;
    margin: 25px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.banner {
    max-width: 700px;
}