html{
    font-family: 'Roboto';
}

.title{
    text-align: center;
    font-size: 20px;
}

body{
    background-image: url("images/background.jpg");
}

.flexbox-container {
    display: flex;
    justify-content: center;
}

.flexbox-container-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.devpath {
    width: 250px;
    height: 250px;
    margin: 30px;
    border: 2px solid #8f8f8f; 
    border-radius: 20px;
    box-shadow: 5px 5px 8px #bfbfbf;
    background-color: white;
}
.devpath:hover { 
    background-color: rgb(230, 83, 83); 
    color: white;
}

.devpathTitle {
    margin-top: 30px;
    font-size: 16px;
}